n8n/acubot-v2.json
{
  "name": "🏥 AcuBot v2",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "acubot-v2",
      "credentials": {
        "telegramApi": {
          "id": "7kCDy7tdETcUqXmf",
          "name": "AcuBot Telegram"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/chat_historico",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Prefer", "value": "return=minimal"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $json.message.chat.id }}\", \"role\": \"user\", \"content\": \"{{ $json.message.text }}\"}"
      },
      "name": "Salvar User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [400, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKPiO5p00C3PUDNT",
          "name": "Supabase AcuBot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/chat_historico?chat_id=eq.{{ $('Telegram').item.json.message.chat.id }}&order=created_at.desc&limit=6",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "name": "Buscar Hist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [600, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKPiO5p00C3PUDNT",
          "name": "Supabase AcuBot"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "message": "Você é AcuBot, assistente de IA da Clínica Tayamiti (acupuntura/MTC). Proprietária: Elena.\n\nFunções: cadastrar pacientes, gerenciar agenda, registrar sessões e pagamentos.\n\nSeja profissional, acolhedor e objetivo. Use emojis: 📋📅💉💰✅\n\nQuando precisar executar ação no banco, retorne JSON assim:\n{\"action\": \"nome\", \"params\": {...}, \"msg\": \"resposta pro usuário\"}\n\nAções disponíveis:\n- cadastrar_paciente: {nome, telefone, queixa_principal}\n- buscar_paciente: {termo}\n- agendar: {paciente_nome, data_hora}\n- registrar_sessao: {paciente_nome, pontos, dor_pre, dor_pos}\n- registrar_pagamento: {paciente_nome, valor, forma}\n\nSe for conversa normal, responda diretamente sem JSON."
            },
            {
              "role": "user",
              "message": "={{ $('Telegram').item.json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [800, 300],
      "credentials": {
        "anthropicApi": {
          "id": "IWAUWTSb4FSNnW12",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram').item.json.message.chat.id }}",
        "text": "={{ $json.text || $json.content || $json.response?.content || JSON.stringify($json) }}",
        "additionalFields": {}
      },
      "name": "Responder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "credentials": {
        "telegramApi": {
          "id": "7kCDy7tdETcUqXmf",
          "name": "AcuBot Telegram"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/chat_historico",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $('Telegram').item.json.message.chat.id }}\", \"role\": \"assistant\", \"content\": \"{{ ($json.text || $json.content || $json.response?.content || '').replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"}"
      },
      "name": "Salvar Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OKPiO5p00C3PUDNT",
          "name": "Supabase AcuBot"
        }
      }
    }
  ],
  "connections": {
    "Telegram": { "main": [[{ "node": "Salvar User", "type": "main", "index": 0 }]] },
    "Salvar User": { "main": [[{ "node": "Buscar Hist", "type": "main", "index": 0 }]] },
    "Buscar Hist": { "main": [[{ "node": "Claude", "type": "main", "index": 0 }]] },
    "Claude": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] },
    "Responder": { "main": [[{ "node": "Salvar Bot", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
