n8n/acubot-full.json
{
  "name": "AcuBot Clinica Tayamiti",
  "nodes": [
    {
      "parameters": {"updates": ["message"]},
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [180, 300],
      "webhookId": "acubot-full",
      "credentials": {"telegramApi": {"id": "7kCDy7tdETcUqXmf", "name": "AcuBot Telegram"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/chat_historico",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $json.message.chat.id }}\", \"role\": \"user\", \"content\": {{ JSON.stringify($json.message.text || '[midia]') }} }"
      },
      "name": "Salvar Msg Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [380, 300],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/chat_historico?chat_id=eq.{{ $('Telegram Trigger').item.json.message.chat.id }}&order=created_at.desc&limit=8",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "name": "Buscar Historico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [580, 300],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/vw_agenda_hoje",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "name": "Buscar Agenda",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [580, 480],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    },
    {
      "parameters": {
        "jsCode": "const hist = $('Buscar Historico').first().json || [];\nconst agenda = $('Buscar Agenda').first().json || [];\nconst msg = $('Telegram Trigger').first().json.message;\n\nconst histStr = Array.isArray(hist) ? hist.slice(0,5).reverse().map(h => h.role + ': ' + h.content).join('\\n') : '';\nconst agendaStr = Array.isArray(agenda) && agenda.length > 0 ? agenda.map(a => '- ' + a.data_hora?.substring(11,16) + ' ' + (a.paciente_nome || a.nome_paciente || 'Novo')).join('\\n') : 'Sem agendamentos';\n\nreturn [{json: {\n  prompt: `Voce e AcuBot, assistente da Clinica Tayamiti (acupuntura). Proprietaria: Elena.\\n\\nAGENDA HOJE:\\n${agendaStr}\\n\\nHISTORICO:\\n${histStr}\\n\\nFuncoes: cadastrar pacientes, gerenciar agenda, registrar sessoes/pagamentos. Seja profissional e use emojis.\\n\\nMensagem: ${msg.text || '[midia]'}`,\n  chat_id: msg.chat.id,\n  user_text: msg.text\n}}];"
      },
      "name": "Preparar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 380]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "modelId": {"__rl": true, "mode": "list", "value": "claude-sonnet-4-20250514"},
        "text": "={{ $json.prompt }}",
        "options": {"maxTokens": 1024}
      },
      "name": "Claude",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [980, 380],
      "credentials": {"anthropicApi": {"id": "IWAUWTSb4FSNnW12", "name": "Anthropic account"}}
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Prompt').item.json.chat_id }}",
        "text": "={{ $json.response?.content || $json.text || $json.content || $json.output || 'Desculpe, tive um problema. Tente novamente.' }}",
        "additionalFields": {}
      },
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1180, 380],
      "credentials": {"telegramApi": {"id": "7kCDy7tdETcUqXmf", "name": "AcuBot Telegram"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/chat_historico",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $('Preparar Prompt').item.json.chat_id }}\", \"role\": \"assistant\", \"content\": {{ JSON.stringify($json.response?.content || $json.text || $json.content || $json.output || '') }} }"
      },
      "name": "Salvar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1380, 380],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    }
  ],
  "connections": {
    "Telegram Trigger": {"main": [[{"node": "Salvar Msg Usuario", "type": "main", "index": 0}]]},
    "Salvar Msg Usuario": {"main": [[{"node": "Buscar Historico", "type": "main", "index": 0}, {"node": "Buscar Agenda", "type": "main", "index": 0}]]},
    "Buscar Historico": {"main": [[{"node": "Preparar Prompt", "type": "main", "index": 0}]]},
    "Buscar Agenda": {"main": [[{"node": "Preparar Prompt", "type": "main", "index": 0}]]},
    "Preparar Prompt": {"main": [[{"node": "Claude", "type": "main", "index": 0}]]},
    "Claude": {"main": [[{"node": "Responder Telegram", "type": "main", "index": 0}]]},
    "Responder Telegram": {"main": [[{"node": "Salvar Resposta", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
