n8n/receituario-generate.json
{
  "name": "Receituario Generate",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "receituario-generate", "responseMode": "responseNode"},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "receituario-gen"
    },
    {
      "parameters": {
        "url": "=https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/pacientes?id=eq.{{ $json.body.paciente_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "name": "Buscar Paciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [380, 300],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    },
    {
      "parameters": {
        "url": "=https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/configuracoes?chave=in.(clinica_nome,profissional_nome,profissional_registro)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "name": "Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [380, 480],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    },
    {
      "parameters": {
        "jsCode": "const paciente = $('Buscar Paciente').first().json?.[0] || {};\nconst configs = $('Config').first().json || [];\nconst body = $('Webhook').first().json.body;\n\nconst getConfig = (chave) => configs.find(c => c.chave === chave)?.valor || '';\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial; max-width: 800px; margin: 0 auto; padding: 40px; }\n    .header { text-align: center; border-bottom: 2px solid #333; padding-bottom: 20px; margin-bottom: 30px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 5px 0; color: #666; }\n    .info { display: flex; justify-content: space-between; margin-bottom: 30px; }\n    .info div { flex: 1; }\n    .formulas { margin: 30px 0; }\n    .formula { background: #f5f5f5; padding: 15px; border-radius: 8px; margin-bottom: 15px; }\n    .formula h3 { margin: 0 0 10px 0; }\n    .orientacoes { margin-top: 30px; padding: 20px; border: 1px solid #ddd; border-radius: 8px; }\n    .footer { margin-top: 50px; text-align: center; border-top: 1px solid #ddd; padding-top: 20px; }\n    .assinatura { margin-top: 60px; text-align: center; }\n    .assinatura .linha { border-top: 1px solid #333; width: 300px; margin: 0 auto; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>${getConfig('clinica_nome')}</h1>\n    <p>Medicina Tradicional Chinesa - Acupuntura</p>\n  </div>\n  \n  <div class=\"info\">\n    <div>\n      <strong>Paciente:</strong> ${paciente.nome || 'N/A'}<br>\n      <strong>Data:</strong> ${new Date().toLocaleDateString('pt-BR')}\n    </div>\n    <div style=\"text-align: right;\">\n      <strong>Receituário Nº:</strong> ${body.numero || 'AUTO'}<br>\n      <strong>Validade:</strong> ${body.validade_dias || 30} dias\n    </div>\n  </div>\n  \n  <div class=\"formulas\">\n    <h2>Prescrição</h2>\n    ${(body.formulas || []).map(f => `\n      <div class=\"formula\">\n        <h3>${f.nome}</h3>\n        <p><strong>Composição:</strong> ${f.composicao || 'Conforme fórmula clássica'}</p>\n        <p><strong>Posologia:</strong> ${f.posologia || 'Conforme orientação'}</p>\n      </div>\n    `).join('')}\n  </div>\n  \n  <div class=\"orientacoes\">\n    <h3>Orientações</h3>\n    <p>${body.orientacoes || 'Seguir orientações do profissional.'}</p>\n  </div>\n  \n  <div class=\"assinatura\">\n    <div class=\"linha\"></div>\n    <p>${getConfig('profissional_nome')}</p>\n    <p style=\"color: #666; font-size: 12px;\">${getConfig('profissional_registro')}</p>\n  </div>\n  \n  <div class=\"footer\">\n    <p style=\"font-size: 12px; color: #999;\">Gerado em ${new Date().toLocaleString('pt-BR')}</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{json: {html, paciente_id: body.paciente_id, formulas: body.formulas, orientacoes: body.orientacoes, validade_dias: body.validade_dias || 30}}];"
      },
      "name": "Gerar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gclgdhvldykcgcyjwuga.supabase.co/rest/v1/receituarios",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Prefer", "value": "return=representation"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({paciente_id: $json.paciente_id, formulas: $json.formulas, orientacoes: $json.orientacoes, validade_dias: $json.validade_dias}) }}"
      },
      "name": "Salvar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [820, 380],
      "credentials": {"httpHeaderAuth": {"id": "OKPiO5p00C3PUDNT", "name": "Supabase AcuBot"}}
    },
    {
      "parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({success: true, id: $json[0]?.id, html: $('Gerar HTML').item.json.html}) }}"},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1020, 380]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Buscar Paciente", "type": "main", "index": 0}, {"node": "Config", "type": "main", "index": 0}]]},
    "Buscar Paciente": {"main": [[{"node": "Gerar HTML", "type": "main", "index": 0}]]},
    "Config": {"main": [[{"node": "Gerar HTML", "type": "main", "index": 0}]]},
    "Gerar HTML": {"main": [[{"node": "Salvar", "type": "main", "index": 0}]]},
    "Salvar": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
